@using Web.Models
@model RestaurantsModel


<input type="hidden" id="hdnGMapKey" value="@ViewData["gmapKey"]" />
<input type="hidden" id="hdnMapDetails" asp-for="JsonMapDetails" />
<input type="hidden" id="hdnLocLatLong" asp-for="LocLatLong" />

@if (Model != null && Model.Restaurants != null && Model.Restaurants.Count > 0)
{
    foreach (var restaurant in Model.Restaurants)
    {
        <div class="bg-white border rounded mb-2">
            <div class="row w-100" style="margin: 0; padding-bottom: 15px; padding-top: 15px;">
                <div style="width: 20%; padding-left: 15px;">
                    @*<img src="~/images/tamasha_lowerparel.jpg" height="120" width="120" style="border: 0.5px solid lightgray; border-radius: 10px;" />*@
                    <img src="@restaurant.ImagePath" height="120" width="120"
                         style="border: 0.5px solid lightgray; border-radius: 10px;" />
                </div>
                <div style="width: 65%; padding-left: 50px;">
                    @*<div style="color: #999999;  font-weight: 400; font-size: 13px;">@restaurant.Type</div>*@
                    <div style="color: #506CF0;  font-weight: 700; font-size: 22px;">@restaurant.Name</div>
                    <div style="color: #000;  font-weight: 600; font-size: 15px;">@restaurant.Address.Area</div>
                    <div class="text-truncate" style="color: #999999;  font-weight: 400; font-size: 14px;">
                        @restaurant.Address.Street1
                    </div>
                </div>
                <div style="width: 15%;">
                    <div class="badge badge-success" style="font-size: 16px; margin-right: 10px; float: right;">@restaurant.Ratings</div>
                    <div style="font-size: 12px; margin-right: 10px; margin-top: 5px; float: right;">@restaurant.VotesCount votes</div>
                </div>
            </div>
            <div style="border-bottom: solid 0.7px #999999; margin: 10px;"></div>
            <div class="row w-100" style="margin-left:0;">
                <div class="col-4" style="color: #999999;  font-weight: 400; font-size: 14px;">
                    <div class="row">
                        <div class="col-12">CUISINES:</div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-12">COST FOR TWO:</div>
                    </div>
                    @*<div class="row pb-3">
                            <div class="col-12">HOURS:</div>
                        </div>*@
                </div>
                <div class="col-8" style="color: #1a1a1a;  font-weight: 500; font-size: 14px;">
                    <div class="row text-truncate w-75">
                        <div class="col-12">@string.Join(", ", restaurant.Cuisines)</div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-12">@restaurant.CostForTwo</div>
                    </div>
                    @*<div class="row pb-3">
                            <div class="col-12">@restaurant.OperationHours</div>
                        </div>*@
                </div>
            </div>
            <div class="row w-100" style="font-size: 16px; line-height: 60px; margin-left:0; background-color: #e8ebfd; font-weight: 500;">
                <div class="col-4 d-flex justify-content-center" style="border: solid 0.5px #b9c2f9;">Call</div>
                <div class="col-4 d-flex justify-content-center" style="border: solid 0.5px #b9c2f9;">View Menu</div>
                <div class="col-4 d-flex justify-content-center" style="border: solid 0.5px #b9c2f9;">Order Now</div>
            </div>
        </div>
    }
}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div id="map" class="modal-content" style="height: 500px; width: 100%;">

        </div>
    </div>
</div>

<script>

    function initMap() {

        var locLatLng = $('#hdnLocLatLong').val().split(',');

        var map = new google.maps.Map(
            document.getElementById('map'),
            {
                zoom: 11,
                center: new google.maps.LatLng(locLatLng[0], locLatLng[1])
            }
        );
               
        var jsonMapData = JSON.parse($('#hdnMapDetails').val());
        var markers = [];

        for (var i = 0; i < jsonMapData.length; i++) {

            var newLatLng = new google.maps.LatLng(jsonMapData[i].latitude,jsonMapData[i].longitude);

            markers.push(                
                new google.maps.Marker({
                    position: newLatLng,
                    label: jsonMapData[i].markerLabel
                })
            );
        }

        var markerCluster = new MarkerClusterer(map, markers,
            { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' });
    }

</script>

<script async defer>
    var gmapkey = $('#hdnGMapKey').val();
    var gmapSource = "https://maps.googleapis.com/maps/api/js?key=" + gmapkey + "&callback=initMap";
    $.getScript(gmapSource);
</script>